#info {
	height: 450px;
}
#house_info{
	position: relative;
    	color:red;
   	font-size:20px;
   	padding: 40px 0 0px 20px;
}

#pic_div {
	float: right;
	position: relative;
	top: 50px;
	right: 50px;
	
}
#pic_div img{

	width: 500px;
	height: 300px;
}
#pic_display {
	padding-top: 10px;
	text-align: center;
}

#thumbnail {
	height: 70px;
	background-color:red ;
}

#thumbnail li{
	display: inline;
	list-style-type: none;
	padding: 0 5px;
}

#thumbnail img{
	width: 80px;
	height: 70px;
	padding: 0;
}
