#house_info{
	height: 200px;
    	color:red;
   	font-size:20px;
   	padding: 40px 0 40px 20px;
}

#pic_div {
	position: relative;
	top: -100px;
	left: 500px;
}
#pic_display {
	position: relative;
	bottom: 6px;
	padding-top: 10px;
	text-align: center;
}

#thumbnail {
	height: 70px;
	background-color:red ;
}

#thumbnail li{
	display: inline;
	list-style-type: none;
	padding: 0 5px;
}

#thumbnail img{
	width: 80px;
	height: 70px;
	padding: 0;
}
