#left_part {
	width: 600px;
	height: 900px;
	position: relative;
	padding: 0 20px;
	margin-top: 20px;
	float: left;
	background-color: white;

}

#house_picture {
	width: 500px;
	height: 300px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 25px;
}


#mansion_profile {
	width: 500px;
	margin: 0 auto;
	position: relative;
   	font-size: 24px;
	left: 50px;
	top: 100px;
	float: left;
	word-break: break-all;
}

#pic_div {
	float: right;
	position: relative;
	top: 50px;
	right: 50px;
	
}
#pic_div img{

	width: 500px;
	height: 300px;
}
#pic_display {
	padding-top: 10px;
	text-align: center;
}

#thumbnail {
	position: relative;
	top: 60px;
	height: 70px;
	margin: 0 45px;
}

#thumbnail li{
	display: inline;
	list-style-type: none;
	padding: 0 5px;
}

#thumbnail img{
	width: 80px;
	height: 70px;
	padding: 0;
}

#right_part {
	width: 600px;
	height: 900px;
	//background-color: white;
	position: relative;
	margin-top: 20px;
	left: 50px;
	float: left;
	font-size: 20px;
	word-break: break-all;
}

#right_part p {
	text-indent: 50px;
}
.title {
	font-size: 30px;
	color: grey;
}

#infor {
	width: 100%;
	height: 420px;
	padding: 20px 20px 0 20px;
	background-color: white;
}

#traffic {
	width: 100%;
	height: 420px;
	padding: 20px 20px 0 20px;
	background-color: white;
	position: relative;
	top: 20px;
}
