/*Slides Start*/
#Slide{
    width: 80%;
    height: 400px;
    margin: 0 auto;
    background-image: url('pic/pic1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 5px double black;
    opacity: 1;
    border-radius: 10px;
}

#pic_selector{
    width: 300px;
    height:18px;
    position:relative;
    top: 382px;
    margin:0 auto;
    background-color: rgba(230,230,230,0);
    text-align:center;
    
}

#pic_selector li {
    display: none;
    //opacity: 0;
}

#pic_selector li button {
    height:8px;
    width:8px;
    border:0;
    padding:0;
    background:transparent;
    color:transparent;
    outline:none;
    line-height:0;
    cursor:pointer;
}

/*#pic_selector li button::before{
    content:"";
    height:8px;
    width:8px;
    padding:0;
    border:0;
    border-radius:8px;
    -webkit-border-radius:8px;
    background:gray;
    display:inline-block;
}
#pic_selector .current button::before{
    background: black;
}*/

#Slide_prev {
	border-bottom: 5px double gray;
	border-left: 5px double gray;
	float: left;
}
#Slide_next {
	border-top: 5px double gray;
	border-right: 5px double gray;
	float: right;
}
#Slide_prev,#Slide_next {
	height: 20px;
	width: 20px;
	transform: rotate(45deg);
	position: relative;
	top: 180px;
	opacity: 0.7;
    cursor:pointer;

}
/*Slides End*/

/*Bottom Start*/
#bottom {
    border-top:5px double black;
    height: 100px;
    position: relative;
    bottom: -800px;
}
/*Bottom End*/

/*Animatin for Chrome, Safari, Opera */
@-webkit-keyframes Sshow {
    from {background-color: rgba(230,230,230,0);}
    to {background-color: rgba(230,230,230,0);}
}
@-webkit-keyframes Shide {
    from {background-color: rgba(230,230,230,0);}
    to {background-color: rgba(230,230,230,0);}
}
@-webkit-keyframes CurrentDotshow {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes Dotshow {
    from {opacity: 0;}
    to {opacity: 0.4;}
}
@-webkit-keyframes CurrentDothide {
    from {opacity: 1;}
    to {opacity: 0;}
}
@-webkit-keyframes Dothide {
    from {opacity: 0.4;}
    to {opacity: 0;}
}

/*Standard Syntax*/
@keyframes Sshow {
    from {background-color: rgba(230,230,230,0);}
    to {background-color: rgba(230,230,230,0);}
}
@keyframes Shide {
    from {background-color: rgba(230,230,230,0);}
    to {background-color: rgba(230,230,230,0);}
}
@keyframes CurrentDotshow {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes Dotshow {
    from {opacity: 0;}
    to {opacity: 0.4;}
}
@keyframes CurrentDothide {
    from {opacity: 1;}
    to {opacity: 0;}
}
@keyframes Dothide {
    from {opacity: 0.4;}
    to {opacity: 0;}
}
