/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
    font-family: 標楷體;
    height: 100%;
    background-color: #c9c9c9;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}

/*Start*/
.main-menu   {
    font-size: 32px;
    text-align:center;
    position: relative;
    width: 180px;
    height: 60px;
    margin: 30px 5px 30px 5px;
    background-color: #206daa;
    border: 1px solid white;
}
.main-menu a {
    position: relative;
    top: 12px;
    color: white;
}

.current-page {
    background-color: white; 
}

.current-page a {
    color: #206daa;
}

#left-side {
    float: left;
    position: fixed;
    background-color: #206daa; 
    height: 100%;
    //color: #AAA;
}
#div_page_selection {
    position: relative;
    top: 30px;
    
}

#right-side {
	width: 85%;
	height: 1200px;
	position: relative;
	left: 220px;
	top: 10px;
	background-color: #c9c9c9;
	margin-bottom: 30px;
}

#main {
    width: 1200px;
    position: relative;
    //height: 1300px;
    margin:0 auto;
    background-color: rgba(192,192,192,0.7);
    border-radius: 10px;
    //border: 1px solid white;
}

#business-selector{
    padding: 50px 0 0 30px;
    text-align: center;
}

#main li{
    display: inline;
    color: white;
    font-size: 20px;
    padding: 0 20px;
     
}

select {
    text-align: center;
}

#ps {
    font-size: 15px;
    color: red;
}

#reset {
    position: relative;
    left:10px;
}

/*Bottom Start
#bottom {
    border-top:5px double white;
    height: 100px;
    
}
Bottom End*/

#search_bar {
	float: right;
	position: relative;
	display: none;
}


/*css For About Us page*/
#profile {
	height: 800px;
	border-bottom: 2px double black;
}


#profile-pic {
	width: 40%;
	height: 600px;
	background-color: black;
	position: relative;
	top: 10px;
	left: 10px;
	float: left;
}

#profile-text {
	width: 50%;
	height: 800px;
	float: left;
	padding-top: 10px;
	padding-left: 50px;
}
#profile-text p {
	font-size: 32px;
	padding-bottom: 10px;
}	

#self-introduction {
	width: 90%;
	height: 300px;
	background-color: red;
}


#form {
	width: 600px;
	height: 600px;
	position: relative;
	top: 20px;
	padding: 20px;
	margin: 0 auto;
	background-color: white;
	font-size: 20px;
}

#content {
	
	width: 80%;
	position: relative;
	left: 30px;
	background-color: white;
	overflow: hidden;
	box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}

/*css for house in frontpage.*/
#hot {
	width: 1200px;
	margin: 0 auto;
}

.house_unit {
	width: 1200px;
	height: 300px; 
	margin: 20px 0 20px 0;
}
.house_img {
	width: 400px;
	height: 300px;
	float: left;
}
.house_img img {
	height: 200px;
	box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}

.house_intro {
	width: 700px;
	height: 200px;
	background-color: white;
	float: right;
	box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}
.house_intro h1 {
	font-size: 3em;
	font-weight: bolder;
	position: relative;
	top: 20px;
	left: 20px;
}
.intro_left, .intro_right {
	position: relative;
	top: 30px;
	left: 70px;
	float: left;
}
.intro_right {
	left: 100px;
}
.house_intro p {
	font-size: 2em;
}



/*css for mansion page.*/
.location_unit {
	height: 100px;
	margin: 20px 0 0 0;
	color: white;
	font-size: 40px;
	background-color: #206daa;
	clear: both;
	box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}

.location_unit:first-child {
	margin: 0;
}

.location_unit h1 {
	position: relative;
	top: 30px;
	left: 20px;
}

.mansion_unit {
	width: 25%;
	height: 200px;
	float: left;
	padding: 10px 20px 20px 10px;
}

.mansion_unit img {
	height: 200px;
	box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}
.mansion_unit_end:after {
	//clear: both;
}
